<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <div id="app">
        <p>{{ str }}</p>
        <p>{{ num }}</p>
        <p>{{ doubleNum }}</p>
    </div> -->

    <!-- v-if 는 html요소가 출력이 안되고, v-show 는 html요소가 css display: none 처리가 된다.-->
    <div id="app">
        <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
        <button v-on:click="logNum">log num</button>
        
        <div v-if="loading">
            Lodding ...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show="loading">
            Loading~~~
        </div>
        <input type="text" v-model="message">
        <p>{{ message }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script>
        new Vue({
            el: '#app',
            data: {
                str: 'hi',
                num: 10,
            },
            computed: {
                doubleNum: function() {
                    return this.num * 2;
                }
            }
        })
    </script> -->
    <script>
        new Vue({
            el: '#app',
            data: {
                num: 10,
                uuid: 'num_txt_1',
                name: 'text-blue',
                loading: true,
                message: '',
            },
            methods: {
                logNum: function() {
                    var vm = this;
                    console.log(document.getElementById(vm.uuid).innerText);
                }
            },
        })
    </script>
</body>
</html>